#logo {
	background-image: url("{{assets}}/img/logo.png");
	background-repeat: no-repeat;
	background-position-y: center;
	padding-left: 50px;
	margin: 0 0 10px 0;
}
#logo h1 {
	display: block;
	margin-bottom: 0px;
	font-size: 17px !important;
	line-height: 17px !important;
	font-weight: normal;
}
#logo span {
	color: #999;
	font-size: 11px;
}     
#title h1 {
	font-size: 17px !important;
	line-height: 17px !important;
	font-weight: normal;
}

ul.menu li {
	padding-top: 40px;
	color: #0099cc;
}
			
/* banner */
.bs-docs-header {
	background-image: linear-gradient(rgb(84, 151, 72) 0px, rgb(108, 184, 94) 100%); 
	background-image: url('http://cdn.gbif.org/img/header/infoband.jpg');
	background-color: rgb(84, 151, 72);
	background-repeat: repeat-x;
	color: rgb(64, 82, 60);
	padding-top: 50px;
	padding-bottom: 50px;        
	font-size: 15px;
	font-weight: normal;
}      
.bs-docs-header h1 {
	font-size: 35px;
	font-weight: normal;
}      
.bs-docs-header h1 small {
	color: #FFF;
}      
.bs-docs-header a {
	color: #FFF;
}
.carbonad {
	width: 200px !important;
	background: #FFF !important;
}

/* sidebar */
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
	color: #0099cc;
	border-left: 1px solid #0099cc;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
	color: #0099cc;
	border-left: 2px solid #0099cc;
}
.back-to-top:hover {
	color: #0099cc;
}      

.bs-callout {
	color: #666666;
}
.bs-callout-warning {
	background-color: #FFFFE9;
	border-color: #f0ad4e;
}
.bs-callout-warning h4 {
	color: #f0ad4e
}      
.bs-callout-definition {
	background-color: #F3F3F3;
	border-color: #CCCCCC;
}
.bs-callout-definition h4 {
	color: #666666
}